/* Add your CSS here */
.domain-page .panel-heading h4 a {
  background: #ff9009; 
  padding: 5px 27px;
}
.domain-page .panel-primary > .panel-heading h2,
.domain-page .panel-heading h4 a {
  background: #1a4b69;
  text-align: center;
  color: white;
  font-size: larger;
  padding: 5px 27px;
  font-size: 22px;
}
.domain-page .panel-title a {
  border-bottom: none;
}
.domain-page .panel-collapse {
  background: whitesmoke;
}
.domain-page .panel-title .accordion-toggle {
  font-size: 22px;
}
.domain-page .btn-primary:hover, 
.domain-page .btn-primary:focus,
.domain-page .btn-primary.focus, 
.domain-page .btn-primary:active, 
.domain-page .btn-primary.active, 
.domain-page .open > .dropdown-toggle.btn-primary,
.domain-page .btn-primary{
  background: none repeat scroll 0 0 #1a4b69;
}
.domain-page rzslider span.rz-pointer {
  background: #1a7ab0;
}

.domain-page rzslider span.rz-bar.rz-selection {
  background: #746981;
}

.domain-page .panel-body a {
  color: #1a7ab0;
  border-bottom: none;
}
.domain-page .panel-body a:hover {
  cursor: pointer
}
.domain-page .basic-search.keyword .input-group {
  width: 90%;
  float: left;
  position: relative;
}
.domain-page .btnInvisible {
  border: none;
  background: none;
}
.domain-page .glyphicon-question-sign {
  font-size: 1.5em;
}
.domain-page .form-control.checkbox {
  height: 20px;
}
.domain-page .panel-primary, .domain-page .panel {
  border-color: #1a4b69;
}
 

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
	list-style-type: none;
    margin: 0;
    margin-left:15px;
    padding: 0 !important;
    vertical-align:2px;
}
ul#strengthBar {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    padding: 0;
    margin-right:1px;
    width:20px;
}
.point::before {
	display: none;
}
/* end Password strength bar style */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.vertical-align {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.tooltip-top {
  position: absolute;
  top: 50%;
  left: 87%;
  transform: translateY(-50%);
}