<!doctype html>
<html class="no-js">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="description" content="FastRank - Powerful Relevant Expired SEO Domains">
  <meta name="author" content="FastRank.co">
  <meta name="fragment" content="!" />
  
  <title>Fast Rank - Powerful Relevant Expired SEO Domains</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Thanks to http://www.favicomatic.com/ for all this! -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/magnific-popup/dist/magnific-popup.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/animate.min.css" />
  <link rel="stylesheet" href="styles/owl.carousel.css">
  <link rel="stylesheet" href="styles/magnific-popup.css">
  <link rel="stylesheet" href="styles/jquery.nouislider.min.css">
  <link rel="stylesheet" href="styles/royalslider.css">
  <link rel="stylesheet" href="styles/font-awesome.min.css">
  <link rel="stylesheet" href="styles/universal-custom/rs-universal.css">
  <link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen">
  
  <link rel="stylesheet" href="styles/custom.css" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="scripts/vendor/rzslider/rzslider.min.css" />
  <!-- endbuild -->
</head>
<body ng-app="fastrankApp" ng-cloak>

  <!-- Page Loader -->
  <div class="page-loader">
    <div class="loader">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
  <!-- End Page Loader -->

  <div class="page-wrapper" ng-controller="MainCtrl">
    <div class="top-wrapper top-wrapper__bg1" id="top">

	<!-- Preloader -->
	<div class="page-loader loading-widget">
		<div class="loader">Loading...</div>
	</div>

      <!-- Header -->
      <header class="header header__fixed" ng-cloak>
        <div class="header-main">
          <div class="container">

            <!-- Navigation -->
            <nav class="navbar navbar-default fhmm" role="navigation" ng-cloak>

              <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                  <i class="fa fa-bars"></i>
                </button>
                <!-- Logo -->
                <div class="logo">
                  <a ui-sref="home"><img src="images/logo.png"
                    alt="FastRank"></a>
                </div>
                <!-- Logo / End -->
              </div>
              <!-- end navbar-header -->

				<div id="main-nav" class="navbar-collapse collapse" ng-cloak>
					<ul class="nav navbar-nav scroll-local">
					<li ng-show="isHome()"><a href="#section-about" ng-cloak>About Us</a></li>
					<li ng-show="!isHome()"><a href="" ng-click="linkTo('/#section-about')" ng-cloak>About Us</a></li>
					<li ng-show="isHome()"><a href="#section-cta" ng-cloak>Register Your Interest</a></li>
					<li ng-show="!isHome()"><a href="" ng-click="linkTo('/#section-cta')" ng-cloak>Register Your Interest</a></li>
					<li ng-show="isHome()"><a href="#section-contact" ng-cloak>Contact Us</a></li>
					<li ng-show="!isHome()"><a href="" ng-click="linkTo('/#section-contact')" ng-cloak>Contact Us</a></li>
					<li ng-show="isAuthenticated()"><a ui-sref="domains">Search for Domains</a></li>
					<li ng-show="isAuthenticated()" class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-toggle__caret-holder">My Account</a>
						<a class="dropdown-toggle dropdown-toggle__caret"><b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">My Details</a></li>
							<li><a href="">My Domains</a></li>
							<li><a href="">My Transactions</a></li>
						</ul><!-- end drop down menu -->
					</li>
	                <li ng-show="!isAuthenticated()"><a ui-sref="login">Login/Register</a></li>
	                <li ng-show="isAuthenticated()"><a ng-click="logout()">Logout</a></li>
                </ul>
                <!-- end nav navbar-nav -->
              </div>
              <!-- end #main-nav -->

            </nav>
            <!-- end navbar navbar-default fhmm -->
            <!-- Navigation / End -->
          </div>
        </div>

      </header>
      <!-- Header / End -->

		<div class="static-header" ng-show="isHome()">
			<div class="container">
					
				<div class="static-header__num1">
					<span class="header-title-lg counter" data-to="210">210</span>
					<span class="header-title-sm text-left">Million Domains Recorded</span>
				</div>

				<div class="static-header__num2">
					<span class="header-title-n counter" data-to="19">19</span>
					<span class="header-title-sm text-right">TF Average</span>
				</div>

				<div class="static-header__num3">
					<span class="header-title-n counter">$5+</span>
					<span class="header-title-sm text-right">DOMAINS</span>
				</div>

				<div class="static-header__rocket wow fadeInUp animated" data-wow-duration="1.5s" style="visibility: visible; -webkit-animation: fadeInUp 1.5s;">
					<img src="images/rocket-header.png" alt="">
				</div>

			</div>
		</div>

    </div>

	<div class="content-wrapper">
		<!-- Intro text -->
		<section class="page-section" id="section-about" ng-show="isHome()">
			<div class="container">
				<div class="section-title-wrapper">
					<div class="section-title-inner">
						<h1 class="section-title section-title__lg">Domains That Rank</h1>
					</div>
				</div>
		
				<div class="row">
					<div class="col-md-6 col-lg-5">
						<!-- Vertical Slider -->
							<div
								class="owl-carousel owl-theme vertical-slider js_vertical-slider owl-loaded">

								<div class="owl-stage-outer">
									<div class="owl-stage"
										style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2808px;">
										<div class="owl-item active"
											style="width: 458px; margin-right: 10px;">
											<div class="item">
												<figure class="thumbnail">
													<img src="images/content-slider-img1.png" alt="Slider 1">
												</figure>
											</div>
										</div>
										<!-- 
										<div class="owl-item"
											style="width: 458px; margin-right: 10px;">
											<div class="item">
												<figure class="thumbnail">
													<img src="images/content-slider-img2.png" alt="Slider 2">
												</figure>
											</div>
										</div>
										 -->
									</div>
								</div>
								<div class="owl-controls">
									<div class="owl-nav">
										<div class="owl-prev" style="display: none;">prev</div>
										<div class="owl-next" style="display: none;">next</div>
									</div>
									<div class="owl-dots" style="">
										<div class="owl-dot active">
											<span></span>
										</div>
										<!-- 
										<div class="owl-dot">
											<span></span>
										</div>
										 -->
									</div>
								</div>
							</div>
							<!-- Vertical Slider / End -->
						</div>
					<div class="col-md-6 col-lg-7">
						<div class="pl-20">
							<div class="title-with-icon">
								<h3>Trusted by the biggest SEO agencies</h3>
							</div>
							
							<p>We specialize in delivering our clients the strongest industry relevant domains and have the most sophisticated backlink analysis systems to ensure the domain you purchase can be repurposed for your industry while keeping maximum rankings and dramatically increasing your chances of surviving all future Google animal updates. </p>
							<p>Our easy to use and intuitive marketplace makes it easy to find the perfect domain for your SEO project.</p>
							<blockquote class="text-right">
								<p>Each domain is thoroughly inspected through our advanced 4 step analysis</p>
								<cite>James Gregory</cite>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End intro text -->
	
		<!-- Call to Action -->
		<section id="section-cta" class="page-section page-section__darkest" ng-show="isHome()">
			<div class="container">
				
				<div class="section-title-wrapper">
					<div class="section-title-inner">
						<h1 class="section-title">Register Your Interest</h1>
						<span class="section-desc">You'll Be Notified When We Launch &amp; Get Your First Domain On Us (T&amp;Cs apply)</span>
					</div>
				</div>
	
				<div class="row">
					<form id="contact-form" class="contact-form" novalidate="novalidate">
		
						<div ng-show="registerInterestSuccess" class="alert alert-success" id="contact-alert-success">
							<strong>Success!</strong> Your email address has been received.
						</div>
						<div ng-show="registerInterestError" class="alert alert-danger" id="contact-alert-error">
							<strong>Error!</strong> Something went wrong sending your email.
						</div>
		
						<div class="row">
							<div class="col-md-8">
								<!-- Field: Email -->
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
										<input type="email" ng-model="interestEmail" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." class="form-control" name="email" id="email" placeholder="Email Address">
									</div>
								</div>
								<!-- Field: Email / End -->
							</div>
							<div class="col-md-4">
									<button class="btn btn-primary btn-has-icon btn-block" ng-click="registerInterest(interestEmail)" data-loading-text="Loading...">
										<i class="fa fa-envelope"></i> 
										Register Your Interest
									</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</section>
		<!-- End call to action -->
		
		<!-- Contact Us -->
		<section class="page-section page-section__no-bottom-padding" id="section-contact" ng-show="isHome()">
			<div class="container">
	
				<div class="section-title-wrapper">
					<div class="section-title-inner">
						<h1 class="section-title">Need More Information?</h1>
						<span class="section-desc">Drop us a line and we'll get back to you within 24 hours</span>
					</div>
				</div>
				
				<!-- Contact Form -->
				<form id="contact-form" class="contact-form" novalidate="novalidate">
	
					<div ng-show="contactUsSuccess" class="alert alert-success" id="contact-alert-success">
						<strong>Success!</strong> Thank you for your message. We'll aim to get back to you within 24 business hours.
					</div>
					<div ng-show="contactUsError" class="alert alert-danger" id="contact-alert-error">
						<strong>Error!</strong> Something went wrong sending your message.
					</div>
	
					<div class="row">
						<div class="col-md-4">
							<!-- Field: Name -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-user"></i></div>
									<input type="text" value="" ng-model="contactUsForm.name" data-msg-required="Please enter your name." class="form-control" name="name" id="name" placeholder="Your Name">
								</div>
							</div>
							<!-- Field: Name / End -->
						</div>
						<div class="col-md-4">
							<!-- Field: Email -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
									<input type="email" value="" ng-model="contactUsForm.email" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." class="form-control" name="email" id="email" placeholder="Email Address">
								</div>
							</div>
							<!-- Field: Email / End -->
						</div>
						<div class="col-md-4">
							<!-- Field: Site -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-desktop"></i></div>
									<input type="text" ng-model="contactUsForm.website" class="form-control" name="website" id="website" placeholder="Your Web Site">
								</div>
							</div>
							<!-- Field: Site / End -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<!-- Field: Textarea / End -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-pencil"></i></div>
									<textarea data-msg-required="Please enter your message." ng-model="contactUsForm.message" rows="8" class="form-control" name="message" id="message" placeholder="Your Message"></textarea>
								</div>
							</div>
							<!-- Field: Textarea / End -->
						</div>
						<div class="col-md-4">
	
							<button class="btn btn-primary btn-has-icon btn-block" ng-click="contactUs(contactUsForm)" data-loading-text="Loading...">
								<i class="fa fa-envelope"></i> 
								Send Message
							</button>
						</div>
					</div>
				</form>
				<!-- Contact Form / End -->
			</div>
		</section>
		<!-- End contact us -->
	</div>

    <!-- Angular view -->
    <div class="well" ui-view="content"></div>


  </div>
  <!-- close outer -->

  <!-- Footer -->
  <footer class="footer page-section">
    <div class="container">
      <div class="footer-inner">

        <!-- Footer Social Links -->
        <ul
          class="footer-social-links footer-social-links__rounded list-inline text-center">
          <!-- 
          <li><a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
          </li>
          <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#" title="VK"><i class="fa fa-vk"></i></a></li>
          <li><a href="#" title="Instagram"><i
              class="fa fa-instagram"></i></a></li>
          <li><a href="#" title="Github"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="#" title="Youtube"><i
              class="fa fa-youtube-play"></i></a>
          </li>
           -->
        </ul>
        <!-- Footer Social Links / End -->

        <!-- Footer Text -->
        <div class="footer-text text-center">
          <div class="row">
            <div class="col-sm-4 col-md-4">&copy; 2015 - All Rights Reserved</div>
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4">
            </div>
          </div>
        </div>
        <!-- Footer Text / End -->

      </div>
    </div>
  </footer>
  <!-- Footer / End -->


  <!-- Back to Top -->
  <div id="back-top">
    <div class="link-holder scroll-local">
      <a href="#top" class="contacts-link" 
      	data-toggle="tooltip" data-placement="left" title="Back to Top">
      	<i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <div class="link-holder scroll-local">
	    <a ng-show="isHome()" href="#section-contact" class="contacts-link"
	        data-toggle="tooltip" data-placement="left" title="Contact Us"><i
	        class="fa fa-envelope"></i>
	    </a>
	    <a ng-show="!isHome()" ng-click="linkTo('/#section-contact')" class="contacts-link"
	        data-toggle="tooltip" data-placement="left" title="Contact Us"><i
	        class="fa fa-envelope"></i>
	    </a>
    </div>
  </div>
  <!-- Back to Top / End -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g), r = n
          .getElementsByTagName(g)[0], a.src = u, r.parentNode
          .insertBefore(a, r)
    }(window, document, 'script',
        '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/jquery-migrate/jquery-migrate.js"></script>
  <script src="bower_components/jquery.easing/js/jquery.easing.js"></script>
  <script src="bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
  <script src="bower_components/jquery.localScroll/jquery.localScroll.js"></script>
  <script src="bower_components/jquery.parallax/jquery.parallax.js"></script>
  <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
  <script src="bower_components/stomp-websocket/lib/stomp.min.js"></script>
  <script src="bower_components/wow/dist/wow.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/vendor/rzslider/rzslider.min.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-scripts.js"></script>
  <script src="scripts/vendor/bootstrap/fhmm.js"></script>
  <script src="scripts/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="scripts/vendor/isotope/isotope.pkgd.min.js"></script>
  <script src="scripts/vendor/isotope/jquery.imagesloaded.min.js"></script>
  <script src="scripts/vendor/royalslider/jquery.royalslider.min.js"></script>
  <script src="scripts/vendor/nouislider/jquery.nouislider.all.min.js"></script>
  <script src="scripts/vendor/jcountdown/jquery.jcountdown.js"></script>
  <script src="scripts/vendor/jquery.viewport.mini.js"></script>
  <script src="scripts/vendor/jquery.countTo.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/app.constants.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/register.js"></script>
  <script src="scripts/controllers/domains.js"></script>
  <script src="scripts/controllers/faq.js"></script>
  <script src="scripts/controllers/password.js"></script>
  <script src="scripts/controllers/activate.js"></script>
  <script src="scripts/controllers/reset.js"></script>
  <script src="scripts/routes/main.js"></script>
  <script src="scripts/routes/domains.js"></script>
  <script src="scripts/routes/login.js"></script>
  <script src="scripts/routes/register.js"></script>
  <script src="scripts/routes/password.js"></script>
  <script src="scripts/routes/activate.js"></script>
  <script src="scripts/routes/reset.js"></script>
  <script src="scripts/services/password.directive.js"></script>
  <script src="scripts/services/auth/auth.service.js"></script>
  <script src="scripts/services/auth/authority.directive.js"></script>
  <script src="scripts/services/auth/principal.service.js"></script>
  <script src="scripts/services/auth/provider/auth.xauth.service.js"></script>
  <script src="scripts/services/auth/services/account.service.js"></script>
  <script src="scripts/services/auth/services/activate.service.js"></script>
  <script src="scripts/services/auth/services/domain.services.js"></script>
  <script src="scripts/services/auth/services/contact.service.js"></script>
  <script src="scripts/services/auth/services/password.service.js"></script>
  <script src="scripts/services/auth/services/register.service.js"></script>
  <script src="scripts/services/auth/services/reset.service.js"></script>
  <script src="scripts/services/user/user.service.js"></script>
  <script src="scripts/services/tracker/tracker.service.js"></script>
  <script src="scripts/services/util/base64.service.js"></script>
  <script src="scripts/services/util/parse-links.service.js"></script>
  <script src="scripts/services/util/truncate.filter.js"></script>
  <script src="scripts/services/language/language.controller.js"></script>
  <script src="scripts/services/language/language.service.js"></script>
  <script src="scripts/custom.js"></script>
  <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <!-- endbuild -->

</body>
</html>