<!-- Preloader -->
<div class="page-loader loading-widget">
	<div class="loader">Loading...</div>
</div>

<div class="content-wrapper domain-page">
  <!-- Page Section -->
  <section class="page-section">
    <div class="container-fluid">
    
		<div class="section-title-wrapper">
			<div class="section-title-inner">
				<h1 class="section-title section-title__lg">Domain Checkout</h1>
			</div>
		</div>
		
		<div class="content">
			<div class="row">
                <div ng-if="checkoutBuyError" class="alert alert-danger alert-dismissible fade in text-uppercase">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <strong>Error!</strong> Unfortunately something went wrong with your checkout. Please try again later or contact us.
                </div>
                <div ng-if="checkoutBuySuccess" class="alert alert-success alert-dismissible fade in text-uppercase">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <strong>Congratulations!</strong> You have successfully purchased domain details. Check out <a href="" ui-sref="domains">your domains</a> to view the specifics. 
                </div>
			
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-8"></div>   
						<div class="col-md-4">
							<a href="" ng-click="checkout()" class="btn btn-primary btn-block btn-has-icon"><i class="fa fa-shopping-cart"></i>Buy Domains</a>
						</div>
					</div>       
					<table class="table">
						<tr>
							<th></th>
                                                        <th></th>
							<th>More Info</th>
							<th>Credits</th>
						</tr>
						<tr ng-if="cartDomains.length === 0">
							<td>
								<h5>Shopping cart empty.</h5>
								<span class="product-desc-alt"> <a ui-sref="search">Search for some domains.</a></span>
							</td>
						</tr>
						<tr ng-if="cartDomains" ng-repeat="domain in cartDomains" class="domain-row">
							<td ng-click="removeDomain(domain)" class="more-link"><a>Remove</a></td>
                                                        <td>{{domain.rootURL}}</td>
							<td ng-click="" class="more-link"><a ui-sref='cart-domain({id: domain.id})'>More</a></td>
							<td>{{domain.credits}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Sub-total: </td>
							<td>{{cartDomains.total}}</td>
						</tr>
					</table>
					
					<div class="row">
						<div class="col-md-8"></div>   
						<div class="col-md-4">
							<a href="" ng-click="checkout()" class="btn btn-primary btn-block btn-has-icon"><i class="fa fa-shopping-cart"></i>Buy Domains</a>
						</div>
					</div>       
					
				</div>    
			</div>
		</div>
    
    
    </div>
  </section>
  <!-- Page Section / End -->
</div>