<!-- Preloader -->
<div class="page-loader loading-widget">
	<div class="loader">Loading...</div>
</div>

<script async src="https://checkout.stripe.com/checkout.js"></script>

<div class="content-wrapper domain-page">
  <!-- Page Section -->
  <section class="page-section">
    <div class="container-fluid">
    
		<div class="section-title-wrapper">
			<div class="section-title-inner">
				<h1 class="section-title section-title__lg">Purchase Credits</h1>
			</div>
		</div>
    
		<div ng-if="paymentError" class="alert alert-danger alert-dismissible fade in text-uppercase">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
			<strong>Error!</strong> Unfortunately something went wrong with your transaction. Please try again later or contact us.
		</div>
		<div ng-if="paymentSuccess" class="alert alert-success alert-dismissible fade in text-uppercase">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
			<strong>Success!</strong> You have now added {{paymentSuccess}} credits to your account. 
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-striped prices-table" ng-class="{'selected':$index == selectedRow}">
				<thead>
					<tr>
					    <th></th>
						<th>Level</th>
						<th>Price</th>
						<th>Credits</th>
						<th>Credits per $</th>
						<th>Top-up</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="price in prices" ng-class="{'selected':$index == selectedRow}">
					    <td ng-show="!price.expanded" ng-click="price.expanded = !price.expanded" width="5%" class="expandCredit col-md-1"><i class="fa fa-plus-square"></i></td>
                        <td ng-show="price.expanded" ng-click="price.expanded = !price.expanded" width="5%" class="expandCredit col-md-1"><i class="fa fa-minus-square"></i></td>
						<td ng-click="price.expanded = !price.expanded" width="16%" class="expandCredit col-md-2"><strong>{{price.level}}</strong></td>
						<td ng-click="price.expanded = !price.expanded" width="16%" class="expandCredit col-md-2">${{price.price | number: 0}}</td>
						<td ng-click="price.expanded = !price.expanded" width="16%" class="expandCredit col-md-2">{{price.credits}}</td>
						<td ng-click="price.expanded = !price.expanded" width="16%" class="expandCredit col-md-2">{{price.credits / price.price | number:2}}</td>
						<td ng-click="price.expanded = !price.expanded" width="16%" class="col-md-2"><a href="" ng-click="purchase(price)" class="btn btn-sm btn-primary">Get {{price.level}}</a></td>
					</tr>
					<tr fr-credit-collapse class="animate-repeat"  ng-repeat-end="">
						<td colspan="6" class="more-info-td">
							<div class="toggle credit-detail" style="display: none">
								<table width="100%">
									<tr ng-repeat="addon in price.addons">
									    <td width="5%" class="col-md-1"></td>
										<td width="16%" class="col-md-2"><em>{{price.level}} Addon {{addon.addonLevel}}</em></td>
										<td width="16%" class="col-md-2">${{addon.price | number: 0}}</td>
										<td width="16%" class="col-md-2">{{addon.credits}}</td>
										<td width="16%" class="col-md-2"></td>
										<td width="16%" class="col-md-2"><a href="" ng-click="purchaseAddon(addon)" class="btn btn-sm btn-primary">Get {{price.level}} Addon {{addon.addonLevel}}</a></td>
									</tr>
								</table>
							</div>
						</td>						
					</tr>
				</tbody>
			</table>
		</div>
		
    </div>
  </section>
  <!-- Page Section / End -->
</div>

<div id="paypalForm" class="popup white-popup-block mfp-hide">
	<form>
		<div id="paypal-container-{{selectedLevel.tierLevel}}" class="center-block">
		</div>
	</form>

    <div>
        <a href="" auto-close class="btn btn-block btn-d btn-round close-verify">Close</a>
    </div>
</div>

<script>
	$('.close-verify').click(function(e){
		e.preventDefault();
    	$.magnificPopup.close();
	});
   
	function hideConfirm(e) { 
		e.preventDefault();
    	$.magnificPopup.close();
  	}
</script>

