<div class="content-wrapper domain-page" ng-init="initDomain()">
  <!-- Page Section -->
  <section class="page-section">
    <div class="container-fluid">
    
		<div class="section-title-wrapper">
			<div class="section-title-inner">
				<h1 class="section-title section-title__lg">My Purchased Domains</h1>
			</div>
		</div>
    
		<div class="table-responsive">          
			<table class="table">
				<tr>
					<th>Domain</th>
					<th>Purchased</th>
					<th>Credits</th>
					<th>Agg Link TF</th>
					<th>Dom TF</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat-start="rec in domains" class="domain-row">
					<td>{{ rec.rootURL }}</td>
					<td>{{ rec.purchaseDate }}</td>
					<td>{{ rec.credits }}</td>
					<td>{{ rec.aggLinkTF }}</td>
					<td>{{ rec.domTF }}</td>
					<td ng-show="!rec.expanded" ng-click="rec.expanded = !rec.expanded" class="more-link"><a>More</a></td>
					<td ng-show="rec.expanded" ng-click="rec.expanded = !rec.expanded" class="more-link"><a>Less</a></td>
					<td><a>All</a></td>
				</tr>
				<tr ng-repeat-end fr-collapse class="more-info">
					<td colspan="12" class="more-info-td">
						<div class="toggle" style="display: none">
							<table width="100%">
								<tr>
									<td class="col-md-3"><strong>Domain TF:</strong> {{ rec.domTF }} </td>
									<td class="col-md-3"><strong>1<sup>1st</sup> Crawled:</strong> {{ rec.firstCrawlDate }} </td>
									<td class="col-md-3"><strong>Found:</strong> {{ rec.found }} </td>
									<td class="col-md-3"><strong>Register your domain:</strong></td>
								</tr>
								<tr>
									<td class="col-md-3"><strong>Maj. Agg TF:</strong> {{ rec.aggLinkTF }}</td>
									<td class="col-md-3"><strong>Spam Found?</strong> {{ rec.spammedDomain }}</td>
									<td class="col-md-3"><strong>Main Majestic Topic:</strong> </td>
									<td class="col-md-3">
										<div class="form-group">
											<select class="form-control selectpicker" id="select-alt" data-type="btn-link" ng-model="selectedRegistrar" ng-options="registrar.name for registrar in registrars">
											      <option value="">-- Select a Registrar --</option>
										    </select>												
										</div>
									</td>
								</tr>
								<tr>
									<td class="col-md-3"><strong>TF/CF:</strong> {{ rec.tfcfRatio }}</td>
									<td class="col-md-3"><strong>Link Rel:</strong> {{ rec.linkRel }}</td>
									<td class="col-md-3">{{ rec.majMainTopic }}</td>
									<td class="col-md-3"><button ng-show="selectedRegistrar" ng-click="redirectToRegistrar(selectedRegistrar, rec.rootURL)">Register with {{selectedRegistrar.name}}</button></td>
								</tr>
								<tr>
									<td class="col-md-3"><strong>Ref Dom:</strong> {{ rec.refDom }}</td>
									<td class="col-md-3"><strong>TlD:</strong> {{ rec.tld }}</td>
									<td class="col-md-3"><strong>Main Alchemy Taxonomy:</strong></td>
									<td class="col-md-3"></td>
								</tr>
								<tr>
									<td class="col-md-3"><strong>EDU/Gov:</strong> {{ rec.edugovCount }}</td>
									<td class="col-md-3"></td>
									<td class="col-md-3">{{ rec.alchMainTaxonomy }}</td>
									<td class="col-md-3"></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>    
    
    </div>
  </section>
  <!-- Page Section / End -->
</div>