<div class="content-wrapper domain-page" ng-init="initDomain()">
  <!-- Page Section -->
  <section class="page-section">
    <div class="container-fluid">
    
		<div class="section-title-wrapper">
			<div class="section-title-inner">
				<h1 class="section-title section-title__lg">Transactions Made</h1>
			</div>
		</div>
		
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Transaction Id</th>
									<th>Provider</th>
									<th>Amount (USD)</th>
									<th>Credits Granted</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="transaction in transactions">
									<td class="col-md-3">{{transaction.transactionId}}</td>
									<td class="col-md-2">{{transaction.provider}}</td>
									<td class="col-md-2">${{transaction.amount}}</td>
									<td class="col-md-2">{{transaction.credits}}</td>
									<td class="col-md-3">{{transaction.date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
    </div>
  </section>
  <!-- Page Section / End -->
</div>