<div class="content-wrapper domain-page">
  <!-- Page Section -->
  <section class="page-section">
    <div class="container-fluid">
    
		<div class="section-title-wrapper">
			<div class="section-title-inner">
				<h1 class="section-title section-title__lg">Transactions Made</h1>
			</div>
		</div>
		
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th ng-click="sortType = 'transactionId';sortReverse = !sortReverse">Transaction Id
                                                                            <span ng-show="sortType == 'transactionId' && !sortReverse" class="fa fa-caret-down"></span>
                                                                            <span ng-show="sortType == 'transactionId' && sortReverse" class="fa fa-caret-up"></span>
                                                                        </th>
									<th ng-click="sortType = 'provider';sortReverse = !sortReverse">Provider
                                                                            <span ng-show="sortType == 'provider' && !sortReverse" class="fa fa-caret-down"></span>
                                                                            <span ng-show="sortType == 'provider' && sortReverse" class="fa fa-caret-up"></span>
                                                                        </th>
									<th ng-click="sortType = 'amount';sortReverse = !sortReverse">Amount (USD)
                                                                            <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
                                                                            <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
                                                                        </th>
									<th ng-click="sortType = 'credits';sortReverse = !sortReverse">Credits Granted
                                                                            <span ng-show="sortType == 'credits' && !sortReverse" class="fa fa-caret-down"></span>
                                                                            <span ng-show="sortType == 'credits' && sortReverse" class="fa fa-caret-up"></span>
                                                                        </th>
									<th ng-click="sortType = 'date';sortReverse = !sortReverse">Date
                                                                            <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                                                                            <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                                                                        </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="transaction in transactions|orderBy:sortType:sortReverse">
									<td class="col-md-3">{{transaction.transactionId}}</td>
									<td class="col-md-2">{{transaction.provider}}</td>
									<td class="col-md-2">${{transaction.amount}}</td>
									<td class="col-md-2">{{transaction.credits}}</td>
									<td class="col-md-3">{{transaction.date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
    </div>
  </section>
  <!-- Page Section / End -->
</div>